.list-group-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #005555;
}

@media screen and (max-width: 767px) {
  .list-group-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item input {
  pointer-events: none;
}

.list-group-item span {
  line-height: 35px;
  font-size: 20px;
  cursor: pointer;
  width: 60%;
}

@media screen and (max-width: 767px) {
  .list-group-item span {
    width: 100%;
  }
}

.list-group-item input {
  line-height: 35px;
  font-size: 20px;
  font-style: oblique 20deg;
  text-align: left;
  border: 0;
}

@media screen and (max-width: 767px) {
  .list-group-item input {
    padding-bottom: 24px;
  }
}

.list-group-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.list-group-item button:last-of-type {
  background-color: transparent;
  padding: 0.25rem;
}

.list-group-item .btn-book-yellow,
.list-group-item .btn-book-blue,
.list-group-item .btn-book-green {
  color: #d8d8d8;
}

.list-group-item .btn-trash {
  color: #fb7575;
}

.list-group-item .fa-star {
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 35px;
  color: #ffe16a;
  transition: 0.3s all;
  transform: translateX(30px);
  opacity: 0;
}

.list-group-item.like .fa-star {
  opacity: 1;
  transform: translateX(0px);
}

.list-group-item.want .list-group-item-label,
.list-group-item.want .list-group-item-input,
.list-group-item.want .btn-book-yellow {
  color: #f8b400;
}

.list-group-item.reading .list-group-item-label,
.list-group-item.reading .list-group-item-input,
.list-group-item.reading .btn-book-blue {
  color: #4c90eb;
}

.list-group-item.finished .list-group-item-label,
.list-group-item.finished .list-group-item-input,
.list-group-item.finished .btn-book-green {
  color: #17c1a5;
}

.list-group-item.increase .btn-star {
  color: #d8d8d8;
}
