.search-panel {
  margin-top: 30px;
  padding: 25px;
  background-color: #007474;
  background: linear-gradient(65deg, #007474 0%, #17c1bc 80%, #79bcd7 100%);
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  color: #fafafa;
}
