.list-group-item {
    padding: 15px 20px;
    border-bottom: 1px solid #005555;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item span {
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    width: 40%;
}

.list-group-item input {
    line-height: 35px;
    font-size: 20px;
    text-align: left;
    border: 0;
}

.list-group-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.list-group-item .btn-book-yellow {
    color: #FFC02D;
}

.list-group-item .btn-book-green {
    color: #53C182;
}

.list-group-item .btn-book-blue {
    color: #4C90EB;
}

.list-group-item .btn-trash {
    color: #FB7575;
}

.list-group-item .fa-star {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #FFE16A;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
}

.list-group-item.like .fa-star {
    opacity: 1;
    transform: translateX(0px);
}

.list-group-item.increase .list-group-item-label, .list-group-item.increase .list-group-item-input {
    color: #FFC02D;
}

.list-group-item.increase .btn-star {
    color: #D8D8D8;
}